<div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a 
                class="inline-block 
                       text-sm 
                       px-4 py-2 
                       leading-none 
                       rounded 
                       text-white 
                       hover:border-transparent 
                       hover:text-teal-500 
                       hover:bg-zinc-900 
                       mt-4 lg:mt-0"
                (click)="changeLanguage('pl')">
                Polski
            </a>
            <a 
                class="inline-block 
                       text-sm 
                       px-4 py-2 
                       leading-none 
                       rounded 
                       text-white 
                       hover:border-transparent 
                       hover:text-teal-500 
                       hover:bg-zinc-900 
                       mt-4 lg:mt-0"
                (click)="changeLanguage('en')">
                English
            </a>
            <a 
                class="inline-block 
                       text-sm 
                       px-4 py-2 
                       leading-none 
                       rounded 
                       text-white 
                       hover:border-transparent 
                       hover:text-teal-500 
                       hover:bg-zinc-900 
                       mt-4 lg:mt-0"
                (click)="changeLanguage('fr')">
                Français
            </a>
        </div>
    </div>
      
    <div class="flex items-center justify-center text-yellow-200 mt-5 p-5 bg-slate-800">
        <ul>
            <li>
                <h1 class="text-2xl">{{ 'HEADER' | translate }}</h1>
            </li>
            <li>
                <h3 class="mt-5 text-xl">{{ 'TEXT' | translate }}</h3>
            </li>
        </ul>
    </div>
</div>
